body {
  background-color: transparent;
}

.widget-holder {
  padding: 15px;
}

header {
  display: flex;
  font-size: 1em;
  border-bottom: 1px solid #E3E9EB;
  margin-bottom: 3rem;
  padding-bottom: 1.5em;
}

.title-header {
  font-size: 1.0em;
  border-bottom: 1px solid #E3E9EB;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  padding-bottom: 1em;
}

header.titles {
  font-weight: bold;
}

header p {
  flex: 1;
  margin: 0 1.4rem 0 0;
}

.title-header p {
  margin: 0 1.4rem 0 0;
  font-weight: bold;
}

.title-header p + p {
  font-weight: normal;
}

header a {
  text-decoration: none;
}
