body {
  background-color: transparent;
}

.app-information {
  overflow: hidden;
}

.app-information .mce-panel, .app-information .mce-btn {
  background-color: #f2f6f7;
}

.app-information .mce-btn:hover {
  background-color: #f2f6f7;
}

.about-warning {
  margin-top: 20px;
  margin-bottom: 0px;
}

.usage h2 {
  margin-top: 0;
  line-height: 0;
}
